* {
    padding: 0%;
    margin: 0%;
    font-family: ProductSans;
}

@font-face {
    font-family: ProductSans;
    src: url("assets/fonts/ProductSans.ttf");
}

body {
    background-color: #202124;
}

.topSearch {
    width: 100%;
    height: 6rem;
    display: flex;
    margin: 2.3rem 2.2rem;
    justify-content: space-between;
}

.googleLogoAndSearch {
    display: flex;
}

.iconsAndSignIn {
    display: flex;
    margin-right: 5rem;
}

#googleText {
    color: #FFFFFF;
    font-size: 2.3rem;
    line-height: 3.4rem;
}

.searchContainer {
    background-color: #303134;
    width: 55rem;
    height: 3.6rem;
    border-radius: 2rem;
    display: flex;
    margin-left: 3rem;
}

.searchContainer input {
    background-color: #303134;
    height: 3.6rem;
    width: 100%;
    border: none;
    border-radius: 2rem;
    text-indent: 1.7rem;
}


.searchContainer input::placeholder {
    color: #f0f0f1;
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
}

.singinButton {
    background-color: #8ab4f8;
    width: 6.5rem;
    height: 3rem;
    border-radius: 0.3rem;
    text-align: center;
    line-height: 3rem;
    font-size: 1.14rem;
}